<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site.analytics %}
    <link href="//www.googletagmanager.com" rel="dns-prefetch">
    {% include gtmhead.html %}
    {% endif %}

    {% if page.title and page.grouptype != "tag" %}
        <title>{{ page.title }} &ndash; {{ site.title }}</title>
        <meta content="{{ page.title }}" property="og:title">
        <meta content="{{ page.title }}" name="twitter:title">
    {% elsif page.grouptype == "tag" %}
        <title>Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}</title>
        <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" property="og:title">
        <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" name="twitter:title">
    {% else %}
        <title>{{ site.title }}</title>
        <meta content="{{ site.title }}" property="og:title">
        <meta content="{{ site.title }}" name="twitter:title">
    {% endif %}

    <meta content="{{ site.title }}" property="og:site_name">

    {% if page.description and page.grouptype != "tag" %}
        <meta content="{{ page.description }}" name="description">
        <meta content="{{ page.description }}" property="og:description">
        <meta content="{{ page.description }}" name="twitter:description">
    {% elsif page.grouptype == "tag" %}
        <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" name="description">
        <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" property="og:description">
        <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" name="twitter:description">
    {% else %}
        <meta content="{{ site.description }}" name="description">
        <meta content="{{ site.description }}" property="og:description">
        <meta content="{{ site.description }}" name="twitter:description">
    {% endif %}

    <meta content="Yvonne Bierens" name="author">
    <link href="{{ site.social.googleplus }}/posts" rel="author">

    <link rel="shortcut icon" href="/favicon.ico" >
    <link href="/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">

    <link href="{{ site.url }}{{ page.url }}" rel="canonical">

    {% if page.title %}
        <meta content="article" property="og:type">
    {% else %}
        <meta content="website" property="og:type">
    {% endif %}

    <meta content="summary" name="twitter:card">

    {% if page.url %}
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
        <meta content="{{ site.url }}{{ page.url }}" name="twitter:url">
    {% endif %}

    {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
        <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}

    {% if page.image %}
        <meta property="og:image" content="{{ site.url }}/img/srcset/{{ page.image }}">
        <meta name="twitter:image:src" content="{{ site.url }}/img/srcset/{{ page.image }}">
    {% else %}
        <meta property="og:image" content="{{ site.url }}/img/logo-yvonne.png">
        <meta name="twitter:image:src" content="{{ site.url }}/img/logo-yvonne.png">
    {% endif %}

    {% if page.tags %}
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}

    {% if site.google_verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    {% endif %}

    <script>
        {% include fontloader.js %}
        loadFont("optimizedWebFonts", "/css/optimizedWebFonts.woff.css");
    </script>

    {% if site.environment == 'production' %}
    <style>{% include critical.css %}</style>
    <script>
        {% include loadCSS.js %}
        loadCSS("/css/styles.css");
    </script>
    <noscript>
        {% endif %}

        <!-- build:css({app,.tmp}) /css/styles.css -->
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <!-- endbuild -->

        {% if site.environment == 'production' %}
    </noscript>
    {% endif %}

</head>
