.TreatmentsWrapper {
	background: #f7f7f7;
	padding: 60px 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 32px;
}

.SectionTitle {
	grid-column-start: 1;
	grid-column-end: end;
	max-width: 100vw;
}
